<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load bootstrap4 %}
    {% include "bootstrap.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCG Companion</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=1.01" />
</head>

<body>
    {% include "navigation.html" %}
    <div class="container">
        <h1>About the Website</h1>
        <p>
            A buddy and I decided to make this website for a class project. One of the use cases of this
            web application is to store cards into the website to be able to keep track of all of them
            instead of going through a binder of cards. In addition, this can help give competitive players an
            advantage on how to improve decks by receiving strategies from Google Gemini. Thanks for checking out our
            website and
            good luck catching them all!
        </p>
    </div>
</body>

</html>
