<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load bootstrap4 %}
    {% include "bootstrap.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCG Companion</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=1.01" />
    <script src="{% static 'gallery.js' %}?v=1.0"></script>
</head>

<body>
    {% include "navigation.html" %}

    <div id="card-search" class="container">
        <div class="jumbotron py-4 search">
            <h1>Add to Collection</h1>
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form search_card_form %}
                <button type="submit" class="btn btn-primary">Add Card</button>
            </form>
        </div>
    </div>

    {% if entries %}
    <div class="card-matrix">
        {% for entry in entries %}
        <div class="square">
            <div class="image-wrapper">
                <img src="{{ entry.card.image }}" alt="{{ entry.card.name }}">
            </div>
            <div class="button-wrapper">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="card-name" value="{{ entry.card.name }}">
                    <input type="hidden" name="card-number" value="{{ entry.card.number }}">
                    <button class="btn btn-primary" name="delete">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if count > 6 %}
    <div class="text-center my-3">
        <button class="btn btn-secondary" onclick=changeImage(-6)>Previous</button>
        <button class="btn btn-secondary" onclick=changeImage(6)>Next</button>
    </div>
    {% endif %}

    <script>displayGallery()</script>
</body>

</html>
