<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load bootstrap4 %}
    {% include "bootstrap.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCG Companion</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=1.01" />
    <script src="{% static 'strategy.js' %}"></script>
</head>

<body>
    {% include "navigation.html" %}

    <div id="card-search" class="container">
        <div class="jumbotron py-4 search">
            <h1>Add to Deck</h1>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form search_card_form %}
                <button class="btn btn-primary">Add Card</button>
            </form>
        </div>
    </div>

    {% if entries %}
    <div class="card-matrix">
        {% for entry in entries %}
        <div class="square">
            <div class="image-wrapper">
                <img src="{{ entry.card.image }}" alt="{{ entry.card.name }}">
            </div>
            <div class="button-wrapper">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="card-name" value="{{ entry.card.name }}">
                    <input type="hidden" name="card-number" value="{{ entry.card.number }}">
                    <button class="btn btn-primary" name="delete">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="text-center mt-4">
        <form id="strategy-form" action="/generate-strategy/" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary">Generate Deck Strategy</button>
        </form>
    </div>

    <script>generateStrategy();</script>

    <div id="strategy-box" class="jumbotron mt-3 p-4">
        <h3>Deck Strategy</h3>
        <div id="strategy-text"></div>
    </div>
    {% endif %}
</body>

</html>
