<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load bootstrap4 %}
    {% include "bootstrap.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCG Companion</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=1.01" />
</head>

<body>
    {% include "navigation.html" %}
    <div id="square-container" class="container">
        <div class="square">
            <h3>Card Deck</h3>
            <p>Organize your cards into strategic decks ready for battle.</p>
            <a href="/deck" class="btn btn-primary">Check Deck</a>
        </div>
        <div class="square">
            <h3>Card Collection</h3>
            <p>Curate your collection with your favorite cards from various sets.</p>
            <a href="/collection" class="btn btn-primary">Check Collection</a>
        </div>
    </div>
</body>

</html>
