<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load bootstrap4 %}
    {% include "bootstrap.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCG Companion</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=1.01" />
</head>

<body>
    {% include "navigation.html" %}

    <div id="login-container" class="container">
        <div class="jumbotron">
            <h1>Login to Create a Deck</h1>
            <form class="login" action="/login/" method="POST" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form login_form %}
                <button class="btn btn-primary w-100">Login</button>
            </form>
            <a class="join-link" href="/join">Create a New Account</a>
        </div>
    </div>
</body>

</html>
