<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load bootstrap4 %}
    <meta charset="utf-8">
    <title>HTML TCG Companion</title>
    {% include "bootstrap.html" %}
    <link rel="stylesheet" href="{% static 'pokemon.css' %}?v=1.01" />
</head>

<body style ="background-color: #2c2c2c; color: #f5f5f5;">
    {% include "navigation.html" %}
    <h1>How to Build a Deck</h1>
    <div class="text-center">
        <div style ="display: inline-block;">
            <img src="{% static '201-v-2534047325.png' %}" alt="Unown V" class="unownv">
            <img src="{% static 'pokemon-logo.png' %}" alt="Pokémon Logo" class="logo">
            <img src="{% static 'unown-j-918977700.png' %}" alt="Unown J" class="unownj">
        </div>
    </div>
    <div class = "jumbotron, margin" >
        <p> 
            The basic rules of creating a Pokemon deck is you need to have exactly 60 cards. Does not matter how many cards of what you have but it is reccomended to have 15-20 Pokemon, 15-19 Energy, and 13-20 trainers. 
            You want to have only 1-2 types of cards such so you do not need many energy types and you want to have trainers that allow you to draw cards and boost attacks of your cards.
            Source: <a href = https://www.wikihow.com/Build-a-Pok%C3%A9mon-Deck> "How to Create a Powerful Pokémon TCG Deck" from wikiHow </a>
        </p>
    </div>
</body>
</html>