<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load bootstrap4 %}
    {% include "bootstrap.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCG Companion</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=1.01" />
</head>

<body>
    {% include "navigation.html" %}
    <div class="container">
        <h1>How to Build a Deck</h1>
        <p>
            You need to have exactly 60 cards to begin building a Pokemon deck. There is no limit to the number
            of cards of each type that you have in your deck, but it is recommended to have 15-20 Pokemon,
            15-19 Energy, and 13-20 Trainers. You only want to have 1-2 types of cards so that you
            do not need many energy types and you want to have trainers that allow you to draw cards and boost
            attacks of your cards.
        </p>
        <p>
            Source:
            <a class="source-link" href=https://www.wikihow.com/Build-a-Pok%C3%A9mon-Deck>
                "How to Create a Powerful Pokémon TCG Deck"
            </a>
        </p>
    </div>
</body>

</html>
